*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
}

.container{
    position: relative;
    width:100%;
    max-width: 100%;
    min-height: 1000px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.container .left{
    position: relative;
    background: rgb(12, 12, 31);
    padding: 40px;
}

.profile{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px rgba(255, 255, 255, 0.2)
}

.profile .img{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}
.profile .img img {
    position: absolute;
    top: 50%; 
    left: 50%; 
    width: auto; 
    height: 100%; 
    min-width: 100%; 
    transform: translate(-50%, -50%); 
    object-fit: cover; 
}
span{
    font-size: 0.8em;
    font-weight: 300;
}

.title{
    margin: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    /* border-bottom: 1px solid white; */
    letter-spacing: 2px;
}

.contactInfo{
    margin-top: 40px;
   
}

.contactInfo .ul{
    position: relative;
    margin-bottom: 40px;
}
.contactInfo .gap{
    margin-bottom: 40px;
}

.contactInfo ul li{
    
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
    letter-spacing: 1.5px;
   
}

.contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 15px;
    color: aqua;
}
.contactInfo ul li span{
    color: #fff;
    font-weight: 300px;
}
.contactInfo .ul .li{
    margin-left: 0px;
    position: relative;
    list-style: none;
    cursor: pointer;
}

/* Right side party */
.container .right{
    position: relative;
    background: rgb(242, 242, 245);
    padding: 50px;
}
.container .name{
   margin-bottom: 20px;
   border-bottom: 2px solid black;
   letter-spacing: 1px;
}
.about{
    margin: 50px;
}
.about:last-child{
    margin-bottom: 0;
}
.title{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.title2{
    color: #333;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.work{
    margin: 50px;
}
.refer{
    margin: 50px;
}

.project{
    margin: 20px;
}
.project ul li{
    margin: 10px;

}

.refer .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.refer .box .ref1{
    min-width: 300px;
}